@charset "utf-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{margin:0;padding:0;}
section, article, aside, header, footer, nav, dialog, figure {display:block;}
body {background:#FFFFFF;font-family: '微软雅黑','宋体';font-size:14px;}
img {vertical-align:top;border:0;}
ol,ul {list-style:none;}
li {list-style-type:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
em {font-style:normal;}
a,a:link {color:#333333;text-decoration:none;}
a:hover {color:#0B68C8;text-decoration:underline;cursor: pointer;}
table{border-collapse:collapse;}
table, th, td{border: 1px solid black;}
.top-bar{height: 62px;}
.top-bar ul li{float: left; padding: 0px 20px;}
.top-bar ul li.selected{background-color: #0000FF;}
.top-bar .content{width: 960px; height: 62px; line-height: 62px; margin: auto; text-align: right;border: 1px solid #dedede;background-color: #F9F9F9;}
.top-bar .logout-button{ cursor: pointer; margin: 0px 20px;}
.main{width: 960px; margin: auto;}
.main .content{position: relative; margin-top:15px;padding:20px; border: 1px solid #dedede;background-color: #F9F9F9;}
.main .content h2{font-size: 22px;color: #333333; text-align: center;}
.main .content .add{position: absolute; top: 20px; right: 30px;height: 32px;padding: 0 20px;border: solid 1px #2f5bb7;background: #3880f5;color: #fff;cursor: pointer; outline: none;}
.main .content table {width: 888px; margin: 24px 0px 0px 16px; border: 1px solid #000000; text-align: center;}
.main .content table tr{background: white; cellspacing:10;}
.main .content table a{margin-right: 10px;}
.main .content table input{width: 64px;}
